<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="checked" v-bind:true-value="a" v-bind:false-value="b">
        <input type="radio" v-model="checked", v-bind:value="a">
        <select v-model="selected">
            <option v-bind:value="{ number: 123 }">123</option>
        </select>
    </div>
</body>
</html>